#mainBody {
	background: linear-gradient(163deg,#bf220d,#b0590c,#3f5d02);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
	0% {
	background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
	background-position: 0% 50%;
	}
}